@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cossette+Titre:wght@400;700&family=Oswald:wght@200..700&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rowdies:wght@300;400;700&family=Story+Script&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cossette+Titre:wght@400;700&family=Oswald:wght@200..700&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rowdies:wght@300;400;700&family=Story+Script&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color: #140b1c;
}

body {
    min-height: 100vh;
    background-color: #0f0716;
    font-family: "Ubuntu", sans-serif;
    color: #fff;
}

h1,
h2,
p {
    width: fit-content;
    user-select: none;
}

h2{
    background: linear-gradient(to right, #00c8ff, #fff 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

nav {
    background-color: var(--color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.logo {
    font-family: "Story Script", sans-serif;
    font-size: 3rem;
}

.navbar li {
    display: inline;
    margin-inline: .5rem;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    transition: color .3s ease-in-out;
}

.navbar a:hover{
    color: #00c8ff;
}

.menu{
    background-color: transparent;
    border: none;
    display: none;
}

.about-me {
    width: 90%;
    border-radius: 10px;
    background-color: var(--color);
    padding: 3rem;
    margin: 3rem auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.about-me::before,
.about-me::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 100px;
    width: 100px;
    border-radius: 500%;
    filter: blur(50px);
}

.about-me::before{
    background-color: #00c8ff;
    top: 50%;
    left: 50%;
}

.about-me::after{
    background-color: #009dcd;
    top:30%;
    left: 65%;
}

.name {
    font-size: 1rem;
}

.major {
    font-size: 3rem;
    margin: 5px 0;
    position: relative;
    padding-right: 5px;
    overflow: hidden;
}

.major::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--color);
    border-left: solid 2px #00c8ff;
    animation: typing 10s steps(12) infinite, opacity .7s infinite;
}

@keyframes typing{
    0%, 100%{
        left: 0;
    }10%, 90%{
        left: calc(100% - 2px);
    }
}

@keyframes opacity{
    0%,
    100%{
        border-color: #00c8ff;
    }50%{
        border-color: var(--color);
    }
}

.personal-img-container {
    width: 300px;
    aspect-ratio: 1 / 1;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100;
}

@property --deg {
    syntax: '<angle>';
    inherits: true;
    initial-value: 0deg;
}

.personal-img-container::before,
.project-img-container::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: conic-gradient(from var(--deg) at center,
            #00c8ff,
            #4d0199,
            #6300c6,
            #009dcd);
    filter: blur(20px);
    border-radius: inherit;
    z-index: -2;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    to {
        --deg: 360deg
    }
}

.personal-img {
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

.all-about-me{
    width: 70%;
    margin: 2rem auto;
}

.all-about-me h2{
    margin: 1rem 0;
}

.items-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img-before{
    display: none;
}

.all-about-me img{
    width: 100px;
    height: 100px;
}

#skills{
    width: 90%;
    background-color: var(--color);
    margin: auto;
    border-radius: 10px;
}

#skills h2{
    font-size: 2.5rem;
    margin: 1rem auto;
}

#skills ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

#skills svg{
    width:  4rem;
    height: 4rem;
    fill: #fff;
}

#projects{
    padding: 3rem 0;
}

#projects h2{
    font-size: 3rem;
    margin: 2rem auto;
}

.projects-container{
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.project-items-container{
    width: 500px;
    max-width: 90%;
}

.project-img-container{
    padding: 1rem;
    background-color: var(--color);
    border-radius: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#projects img{
    width: 100%;
    aspect-ratio: 16 / 9;
    border-radius: 5px;
    object-fit: cover;
}

.project-items-container h3{
    margin: 1rem 0;
}

footer{
    background-color: var(--color);
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer svg{
    width: 2rem;
    height: 2rem;
    fill: #fff;
}

@media(max-width: 450px){

    .navbar{
        justify-items: center;
        gap: 10px;
        position: relative;
    }

    .navbar ul{
        position: absolute;
        top: calc(100% + 10px);
        right: 10px;
        z-index: 200;
        padding: 2rem;
        border-radius: 10px;
        background-color: rgb(15, 7, 22, .3);
        backdrop-filter: blur(16px);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        opacity: 0;
        pointer-events: none;
    }

    .menu {
        display: block;
    }

    .about-me{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }

    .major{
        font-size: 2.5rem;
    }

    .items-container{
        display: inline;
    }

    .img-before{
        display: block;
    }

    .img-after{
        display: none;
    }

    .projects-container{
        flex-direction: column;
        align-items: center;
    }
}
